---
const { icon, type, backgroundColor, borderLeftColor } = Astro.props

function renderIcon(icon:any) {
  if (typeof icon === 'string') {
    return icon;
  } else if (typeof icon === 'object' && icon.name) {
    return `<ion-icon name="${icon.name}"></ion-icon>`;
  }
  return '';
}
---

<aside
  class="alert-box"
  style={{backgroundColor, borderLeftColor}}
  >
  <div class="alert-icon-and-type">
    <Fragment set:html={renderIcon(icon)} />
    &nbsp;
    {type}
  </div>
  <div class="alert-content">
   <slot />
  </div>
</aside>

<style>
  .alert-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-left-width: 4px;
    border-left-style: solid;
    margin: 1.5rem 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .alert-icon-and-type {
    font-size: 1.5rem;
    display: flex;
    align-items: end;
  }

  .alert-content {
    font-size: 1.2rem;
  }
</style>