---

---
<div class="container">

  <h3 class="newsletter-h3">Join my Free Newsletter</h3>

  <p>
      Subscribe to my newsletter for coding tips, videos from reputable sources, articles from OG tech authors, and a ton of other goodies.
  </p>

  <div class="subscribe-form">
    <iframe
      src="https://embeds.beehiiv.com/bc926598-839b-48e4-9c32-fc46b5255050?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;">
    </iframe>
  </div>
  <p>
    No BS. No fluff. Just pure software development goodies on a Sunday every week.
  </p>
</div>

<style>
  .container {
    background-color: var(--post-newsletter-bg);
    padding: 0.2rem 1rem;
    border-radius: var(--border-radius);
    margin-top: 3rem;
  }

  iframe {
    width: 30rem;
  }

  p {
    font-size: var(--paragraph-font);
    line-height: var(--line-height);
    margin-bottom: 2rem;
  }

 @media screen and (max-width: 820px) {
    iframe {
      width: 20rem;
    }
   }

 @media screen and (max-width: 420px) {
    iframe {
      width: 16.5rem;
    }
   }
</style>