---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allArticles: CollectionEntry<'articles'>[] = (await getCollection('articles'))
.sort((a:CollectionEntry<'articles'>, b:CollectionEntry<'articles'>) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());
---

<Layout title="Blog Paqge">
  <section>
      <h1>All Articles</h1>
    <div class="article-cards">
      {allArticles.map((article) => (
        <ArticleCard article={article} />
      ))}
    </div>
    
  </section>
</Layout>

<style>

  .search-and-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: var(--h1-font);
  }

  .article-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem;
  }
</style>