---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

import { formatDate } from '../../../utils'

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const allArticles = await getCollection('articles')
const allArticles: CollectionEntry<'articles'>[] = (await getCollection('articles'))

// console.log(allArticles[0])
---

<Layout title="Blog Paqge">
  <section>
    <h1>All Articles</h1>

    <div class="article-cards">
      {allArticles.map((article) => (
        <ArticleCard article={article} />
      ))}
    </div>
    
  </section>
</Layout>

<style>
  .article-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem;
  }
</style>