---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import LatestArticles from "../components/LatestArticles.astro"

import notFoundImage from  '../../public/images/404.png'
---

<Layout
  title="Not Found Page"
  description="404 Not Found Page"
  canonicalLink="https://www.koladechris.com/404"
  OGUrl="https://www.koladechris.com/404"
  OGTitle= "Not Found Page"
  OGDesc= "404 Not Found Page"
  xtitle= "Not Found Page"
  xDesc= "404 Not Found Page"
>
  <Image
    src={notFoundImage}
    alt="404 Image"
    width={300}
    height={190}
    
    class="notfound-img"
  />
  <p class="notfound-text">Sorry, we could not find the page you were looking for.</p>

  <h2>In the mean time, you can read my lastest articles:</h2>
  <LatestArticles />

  <div class="link-container">
    <a class='back-home-btn' role="button" href='/'>Go Home</a>
  </div>

</Layout>

<style>

  .notfound-img {
    display: block;
    margin: 0 auto;
  }

  .notfound-text {
    font-size: var(--paragraph-font);
    text-align: center;
    margin-bottom: 3rem;
  }

  h2 {
    text-align: center;
  }
  
  .link-container {
    text-align: center;
    margin: 6rem 0;
  }

  .back-home-btn {
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 0.8rem 1.3rem;
    border-radius: var(--border-radius);
    font-size: var(--paragraph-font);
    transition: var(--transition) ease-in;
  }

  .back-home-btn:hover {
    background-color: var(--primary-hover);
  }
</style>