---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LatestYTVids from '../components/LatestYTVids.astro';
import LatestArticles from '../components/LatestArticles.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<Hero />
		<LatestArticles />
		<LatestYTVids />
	</div> 
</Layout>
