---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LatestYTVids from '../components/LatestYTVids.astro';
import LatestArticles from '../components/LatestArticles.astro';

---

<Layout title="Welcome to Astro.">
	<div>
		<Hero />

		<h2>Latest Articles</h2>
		<LatestArticles />

		<h2>Latest YouTube Vidoes</h2>
		<LatestYTVids />
	</div> 
</Layout>

<style>
	h2 {
		font-size: var(--h2-font);
	}
</style>
