---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LatestYTVids from '../components/LatestYTVids.astro';
import LatestArticles from '../components/LatestArticles.astro';

---

<Layout
	title="Kolade Chris | Software development | Technical Writing | Technical Copywriting"
	description="Kolade Chris Contacts"
	canonicalLink=""
>
	<div>
		<Hero />

		<h2>Latest Articles</h2>
		<LatestArticles />

		<h2>Latest YouTube Videos</h2>
		<LatestYTVids />
	</div> 
</Layout>

<style>
	h2 {
		font-size: var(--h2-font);
		margin-top: 2.5rem;
		margin-bottom: .9rem;
	}

	@media screen and (max-width: 720px) {
		h2 {
			text-align: center;
		}
	}
</style>

<script>
	const urlSearchParams = new URLSearchParams(window.location.search);
const params = Object.fromEntries(urlSearchParams.entries());

console.log(params)
</script>