---
import NewsletterFrame from "../components/NewsletterFrame.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Free Kolade Dev Digest Newsletter Subscription Form"
  description="Subscribe to Kolade's Weekly Free Dev Digest"
  canonicalLink="https://www.koladechris.com/subscribe"
  OGUrl="https://www.koladechris.com/subscribe"
  OGTitle= "Free Kolade Dev Digest Newsletter Subscription Form"
  OGDesc= "Subscribe to Kolade's Weekly Free Dev Digest"
  xtitle= "Free Kolade Dev Digest Newsletter Subscription Form"
  xDesc= "Subscribe to Kolade's Weekly Free Dev Digest"
>

  <div class="email-subscription">
    <h2>Free Weekly Kolade Dev Digest Newsletter</h2>
    <NewsletterFrame />
  </div>

</Layout>

<style>
  h2 {
    text-align: center;
    font-size: var(--h2-font);
  }
</style>