---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Subscribe">

  <div class="email-subscription">
    <h1>Weekly Free Dev Digest</h1>
    <p>Join the Weekly Free Dev Digest Newsletter <br> for coding tips, videos from reputable sources, articles from various authors, <br> and a ton of other goodies.</p>
    <div class="subscribe-form">
      <iframe src="https://embeds.beehiiv.com/bc926598-839b-48e4-9c32-fc46b5255050?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
    </div>
    <p>No BS. No fluff. Just pure software development goodies.</p>
  </div>


</Layout>

<style>

  h1 {
    text-align: center;
    font-size: var(--h1-font);
  }

  p {
    text-align: center;
    font-size: var(--paragraph-font);
    margin-bottom: 2rem;

  }

  iframe {
    width: 35rem;
  }

  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<!-- style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;" -->