---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Thanks for Contact Me"
  description="Thank you page for contact form"
  canonicalLink="https://www.koladechris.com/thanks"
>
  <h1>Hey there 👋</h1>

  <p>Thanks for Contacting me. I'll get back to you.</p>
  <p>Before you zik out, hop to my blog to read some articles you'll find helpful.</p>
</Layout>

<style>
  p {
    font-size: var(--paragraph-font);
    line-height: var(--line-height);
  }
</style>