---
import { fetchAllArticles } from "../../utils"

const allArticles = await fetchAllArticles()

const categories = allArticles.flatMap((article) => article.data.category)
const uniqueCategories = [...new Set(categories)]

const currentYear = new Date().getFullYear()
---

<footer class="footer">
  <div class="footer-container">
    <div class="subscribe-form">
      <h2>Subscribe to my Newlsetter</h2>
      <iframe src="https://embeds.beehiiv.com/bc926598-839b-48e4-9c32-fc46b5255050?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;" title="Subscribe to my Newsletter"></iframe>
      <p>No BS. No fluff. Just pure software development goodies. on a Sunday every weeks.</p>
    </div>

    <div class="social-links">
      <h2>Follow Me</h2>
      <a href="https://freecodecamp.org/news/author/kolade" target="_blank">freeCodeCamp</a>
      <a href="https://github.com/ksound22" target="_blank" >GitHub</a>
      <a href="https://x.com/ksound22" target="_blank" >X</a>
      <a href="https://www.linkedin.com/in/kolade-chris-6a0685199" target="_blank" >LinkedIn</a>
    </div>

    <div class="categories">
      <h2>Top Categories</h2>
      {uniqueCategories.map((cat) => <a href={`/blog/category/${cat.toLowerCase().replace(/\s+/g, "-")}`}>{cat}</a> )}
    </div>
      
    <div class="footer-links">
      <h2>Quick Links</h2>
      <a href="/blog">Blog</a>
      <a href="/about">About Me</a>
      <a href="/services">My Services</a>
      <a href="/contact">Contact Me</a>
    </div>
  </div>

  <div class="copyright">
    <p>&copy;2022 – {currentYear} Kolade Chris. All rights reserved.</p>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--navbar-and-footer-bg);
    font-family: Arial, sans-serif;
    margin-top: 6rem;
    border-top: 0.5px solid gray;
  }

  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .social-links,
  .footer-links,
  .categories,
  .subscribe-form {
    flex: 1;
    margin: 20px;
  }

  iframe {
    max-width: 25rem;
  }

  .social-links h2,
  .footer-links h2,
  .categories h2,
  .subscribe-form h2 {
    margin-bottom: 1.5rem;
  }

  .social-links a,
  .footer-links a,
  .categories a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
  }

  .social-links a:hover,
  .footer-links a:hover,
  .categories a:hover {
    text-decoration: underline;
    color: var(--primary-hover);
  }

  .copyright {
    margin-top: 20px;
    font-size: 14px;
    font-size: 1.2rem;
    text-align: center;
  }

   @media screen and (max-width: 720px) {
    .footer-container {
      flex-direction: column;
    }
   }
</style>
