---
import { Image } from "astro:assets"
import koladeRecent from '../../public/images/kolade-recent-renamed.JPG'
---

<div class="container">
  <div class="bio">
    <h1><span class="name">Kolade Chris</span> here 👋🏽</h1>
    
    <p>I'm a <span class="work">software developer</span> and <span class="work">tech writer</span> with a combined 8+ years experience. </p> 
    
    <p>I've authored more than 200 articles on topics including web development, programming, PC guides, and IT.</p>
    
    <p>You can read my articles on <a href="https://www.freecodecamp.org/news/author/koladechris/" target="_blank">freeCodeCamp</a> and my <a href="/blog">blog</a>. You can learn about what I do on my <a href="/services">services</a> page.</p>
  </div>

  <div class="hero-img">
    <Image
      src={koladeRecent}
      alt="Kolade Chris"
      width={350}
      height={438}
      sizes="100vw"
    />
  </div>
</div>

<style>
  h1 {
    font-size: var(--h1-font);
  }

  .hi {
    display: block;
    margin-bottom: 1.2rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
  }

  .name {
    color: var(--primary-color);
  }

  .hero-img img {
    border: 4px inset var(--primary-color);
    border-radius: var(--border-radius);
  }

  .work {
    font-weight: bold;
  }

  a {
    color: var(--primary-color);
    text-decoration: underline;
  }

  p {
    font-size: var(--paragraph-font)
  }

   @media screen and (max-width: 912px) {
    .container {
      flex-direction: column;
      gap: 2rem;
    }

    .hero-img img {
      width: 300px;
      height: 375px;
    }
   }

   .work {
    font-weight: unset;
   }

   @media screen and (max-width: 740px) {
    h1 {
      font-size: 1.8rem;
    }
   }
</style>
