---
import ArticleCard from "./ArticleCard.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allArticles: CollectionEntry<'articles'>[] = (await getCollection('articles'))
  .filter((article) => article.data.publishedDate) // Filter out articles with no publishedDate
  .sort((a: CollectionEntry<'articles'>, b: CollectionEntry<'articles'>) => {
    const dateA = new Date(a.data.publishedDate).valueOf();
    const dateB = new Date(b.data.publishedDate).valueOf();
    return dateB - dateA;
  });

const latestArticles: CollectionEntry<'articles'>[] = allArticles.slice(0, 3);
---

<div class="article-cards">
  {latestArticles.map((article) => (
    <ArticleCard article={article} />
  ))}
</div>

<style>
	.article-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem;
  }

   @media screen and (max-width: 912px) {
    .article-cards {
      flex-direction: column;
    }
   }
</style>