---

---
<p>
  Join the my free newsletter <br> for coding tips, videos from reputable sources, articles from OG tech authors, <br> and a ton of other goodies.
</p>

<div class="subscribe-form">
  <iframe
    src="https://embeds.beehiiv.com/bc926598-839b-48e4-9c32-fc46b5255050?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;">
  </iframe>
</div>
 <p>
  No BS. No fluff. Just pure software development goodies on a Sunday every two weeks.
</p>

<style>
  iframe {
    width: 35rem;
  }

  p {
    text-align: center;
    font-size: var(--paragraph-font);
    line-height: var(--line-height);
    margin-bottom: 2rem;
  }

  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>