---
import ArticleCard from "./ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getPopularArticles() {
  const articles: CollectionEntry<'articles'>[] = (await getCollection('articles'))
    .filter(article => article.data.publishedDate) // Ensure publishedDate exists
    .sort((a: CollectionEntry<'articles'>, b: CollectionEntry<'articles'>) => {
      const dateA = new Date(a.data.publishedDate).valueOf();
      const dateB = new Date(b.data.publishedDate).valueOf();
      return dateB - dateA;
    });

  return articles.filter(article => article.data.badge === 'Popular');
}

const popularArticles = await getPopularArticles();
---

<div class="popular-articles-card">
  {popularArticles.map((article) => (
    <ArticleCard article={article} />
  ))}
</div>

<style>
	.popular-articles-card {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem;
  }

   @media screen and (max-width: 912px) {
    .popular-article-card {
      flex-direction: column;
    }
   }
</style>