---
---
<div class="read-more-btn">
  <a href="/blog" transition:name="blog-page">Read More Articles</a>
</div>

<style>
  .read-more-btn {
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: var(--paragraph-font);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.8rem 0.5rem;
    transition: var(--transition);
  }

  a:hover {
    background-color: var(--primary-hover);
  }
</style>