---
import { formatDate } from "../../utils";

const { relatedArticle } = Astro.props;
---

<div>
  {relatedArticle.map((related) => (
    <h3>
      <a href={`/blog/${related.data.slug}`}>{related.data.title}</a>
    </h3>
    <small>
      <span>
        <time>{formatDate(related.data.publishedDate)}</time>
        <span>{related.data.readingTime} Read</span>
      </span>
    </small>
  ))}
</div>

<style>
  h3 a {
    text-decoration: none;
    color: var(--text-color);
  }

  small span {
    display: flex;
    gap: 1rem;
  }
</style>