---
import { FaSearch } from "react-icons/fa"
---
<form class="search-bar">
  <input 
    type="search" 
    placeholder="Search articles" 
    class="search-input"
    id="search"
  />
  <button 
    type="submit" 
    class="search-button"
  >
    <FaSearch />
  </button>
</form>


<style>
  .search-bar {
    display: flex;
  }

  .search-input {
    padding: 7.8px;
    width: 100%;
    background-color: var(--label-bg);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    font-weight: var(--bold-font);

    

    margin-bottom: 2rem;
  }

  .search-input::placeholder {
    font-weight: var(--bold-font);
  }

  .search-input:focus {
    border: 2px solid var(--primary-color);
    outline: none;
    box-shadow: none;
  }

  .search-button {
    padding: 7.5px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2.2rem;
  }

  .search-button svg {
    height: 20px;
    width: 20px;
  }
</style>