---
const { heading } = Astro.props;
---

<li>
  <a href={`#${heading.slug}`} class="toc-link">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="toc-sublist">
        {heading.subheadings.map((subheading:any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
   .toc-link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: left;
  }

  .toc-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .toc-sublist {
    list-style-type: none;
    padding-left: 20px;
  }

  li {
    list-style-type: none;
  }
</style>

