---
const { heading } = Astro.props;
---

<li>
  <a href={`#${heading.slug}`} class="toc-link">
    {heading.text}
  </a>
</li>

<style>
  
  li {
    list-style-type: none;
  }

  .toc-link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    padding-top: 5px;
    font-size: 1.1rem;
    transition: var(--transition);
  }

  .toc-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .toc-sublist {
    list-style-type: none;
    padding-left: 20px;
  }
</style>

