---
import {FaGithub, FaFreeCodeCamp, FaYoutube, FaLinkedin} from 'react-icons/fa'
import { FaXTwitter } from 'react-icons/fa6'
---
<div class="top-header-social-icons">
  <a href="https://github.com/ksound22" target="_blank">
    <FaGithub size={'1.2rem'} />
  </a>
  <a href="https://freecodecamp.org/news/author/kolade" target="_blank">
    <FaFreeCodeCamp size={'1.2rem'} />
  </a>
  <a href="https://twitter.com/ksound22" target="_blank">
    <FaXTwitter size={'1.2rem'} />
  </a>
  <a href="https://twitter.com/ksound22" target="_blank">
    <FaYoutube size={'1.2rem'} />
  </a>
  <a href="https://twitter.com/ksound22" target="_blank">
    <FaLinkedin size={'1.2rem'} />
  </a>
</div>
<hr>


<style>
  a {
    text-decoration: none;
    color: unset;
  }

  .top-header-social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 3rem;
    margin-top: 0.4rem;
  }
</style>