---
import { AstroFont } from 'astro-font';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<AstroFont config={[{
			src: [],
			name: "Roboto",
			googleFontsURL: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap',
			preload: true,
			display: "swap",
			selector: "body",
			fallback: "sans-serif",
		}]}
		/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main style="background-color: var(--light-bg);" class="main-page-content">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--primary-color: #2ecc71;
		--accent-color: #CC2E89;
		--primary-hover: #23bb63;
		--accent-hover: #bc2d80;
		--normal-font: 400;
		--bold-font: 700;
		--bolder-font: 900;
		--bottom-margin: 0.5rem;
		--bottom-margin-2: 1rem;
		--line-height: 1.7rem;
		--transition: 0.3s;
		--paragraph-font: 1.5rem;
		--h1-font: 2.5rem;
		--h2-font: 2rem;
		--border-radius: 4px;

		--bg: #fff;
		--card-bg: #f1f1f1 ;
		--navbar-bg: #f1f1f1;
		--footer-bg: #F2F2F2;
		--text-color: #000;
		--text-color-hover: #0f0f0f;
	}

	[data-theme="light"] {
		--bg: #fff;
		--back-bg: #f6f6f6;
		--card-bg: #fafafa ;
		--navbar-bg: #f1f1f1;
		--footer-bg: #F2F2F2;
		--text-color: #000;
		--text-color: #101010;
		
	}

	[data-theme="dark"] {
		--bg: #111827;
		--back-bg: #000;
		/* --card-bg: #2a2c38 ; */
		--card-bg: #141a2a;
		--navbar-bg: #101623;
		--footer-bg: #292929;
		--text-color: #fff;
		--text-color-hover: #f5f5f5;
	}

	body {
		background-color: var(--bg);
		color: var(--text-color);
	}

	.main-page-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 80rem;
		margin-top: 2.5rem; 
		padding-left: 2rem;
		padding-right: 2rem;
	}

</style>


	<!-- https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap -->