---
import TopHeader from '../components/TopHeader.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<TopHeader />
		<Header />
		<main style="background-color: var(--light-bg);" class="main-page-content">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--primary-color: #2ecc71;
		--accent-color: #CC2E89;
		--normal-font: 400;
		--bold-font: 700;
		--bolder-font: 900;
		--bottom-margin: 0.5rem;
		--bottom-margin-2: 1rem;
		--line-height: 1.7rem;
		--transition: 0.3s;

		--bg: #fff;
		--card-bg: #f1f1f1 ;
		--navbar-bg: #fff;
		--footer-bg: #F2F2F2;
		--text-color: #000;
	}

	[data-theme="light"] {
		--bg: #fff;
		--card-bg: #f1f1f1 ;
		--navbar-bg: #f1f1f1;
		--footer-bg: #F2F2F2;
		--text-color: #000;
	}

	[data-theme="dark"] {
		--bg: #111827 ;
		--card-bg: #2A2C38 ;
		--navbar-bg: #101623;
		--footer-bg: #292929;
		--text-color: #fff;
	}

	.main-page-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 80rem;
		margin-top: 2.5rem; 
		padding-left: 2rem;
		padding-right: 2rem;
		background-color: #000;
	}

	body {
		background-color: var(--bg);
		color: var(--text-color);
	}
</style>
